.sectionWrapper {
	width: 400px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.sectionTitle {
		text-transform: uppercase;
	}

	.pagesNav {
		background-color: white;
		color: black;
	}
}
